.renting {
  display: flex;
  flex-direction: column;

  .room-category_feature {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;

    .content_name {
      font-weight: 700;
      font-size: 24px;
    }
  }

  .search {
    display: flex;
    justify-content: space-between;
    margin-top: 8px;

    .input__wrapper {
      width: 250px;
    }
  }
}
